img {
    border: 2px solid green;
}

ul {
    border: 2px solid greenyellow;
    font-size: larger;
}

ol {
    border: 2px solid yellow;
    font-size: larger;
    
}
h1 {
    color: darkgreen;
}
h2 {
    color: darkgreen;
}
h3 {
    color: darkgreen;
}
h4 {
    color: darkgreen;
}